* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    display: flex-wrap;
    text-align: center;
    background-color: black;
    border: 5px solid;
    height: 15vh;
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}
nav a{
    display: inline-block;
    padding: 40px;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color:whitesmoke;
}

#bio{
    background-image: url('/Crate_Digger/images/albumcovers.jpg');
}

#our-story {
    font-size: 35px;
}

#bio {
    font-size: 20px;
}

#home-tab:hover{
    color: rgb(145 , 70 , 255);
}